<div class="row">
  <% if !session[:user_id] %>
    <div class="image-gradient-dynamic">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
      <div class="overlay"></div>
      <div class="copy">
        <h1 class="hero-title">Learn about Spirit Animals</h1>
        <a href="" id="signup"><button class="hero-button">Sign up</button></a>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4 flexbox">
        <div class="hover-tile-outer horse">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Horse</h4>
              <p>You have lots of ambition and personal desire. You yearn for independence.</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer dolphin" style="margin-top: 2em;">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Dolphin</h4>
              <p>You are very playful and expressive with others</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer dragonfly" style="margin-top: 4em;">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Dragonfly</h4>
              <p>You adapt well to different circumstances and understand the transformative process</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-8 site-description">
        <h2>Want to know what your spirit animal is?</h2>
        <p>There is a lot we can learn from animals.
        Find out what your spirit animal is and learn about the spiritual traits of other spirit animals.
        Find a connection with your spirit animal that will help you be more productive and happy.
        </p>
      </div>
    </div>





  <% else %>
    <div class="image-gradient-dynamic" id="choose-deck-panel">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
      <div class="overlay"></div>
      <div class="copy" style="text-align: left;">
        <p>Hi <%= @user.email%>!</p>
        <h1>Choose a deck:</h1>
      </div>
    </div>

    <% @decks.each_with_index do |deck, idx| %>
      <div class="deck-holder" id="deck<%= idx %>" style="display: block;">
        <img src="<%= deck.cards.first.image_url %>" id="deck-image<%= idx%>"height="300" class="card-image hidden-xs"/>
        <form class="" action="/games" method="post">
          <input type="hidden" name="user_id" value="<%= @user.id %>">
          <input type="hidden" name="deck_id" value="<%= deck.id %>">
          <input type="submit" name="name" value="<%= deck.name %>" class="hero-button" id="game-init">
        </form>
      </div>
    <% end %>
    <div class="col-sm-12 deck-content-wrapper">
      <div class="col-sm-6">
        <h1 class="deck-title">Water Spirit Animals</h1>
        <p class="deck-content">
          Water animal totems are as vast with meaning as the sea itself. Water is a powerful symbol in itself.
          It's a sign of cleansing, freedom and mobility. Most significantly, water as a symbol is a universal expression of the unconscious.
          Therefore, water animal totems help us reveal and identify our hidden thoughts or actions.
          When these creatures find their way into our lives they need to be honored.
          If we pay attention, they will aid us in identifying our hidden motives, motives that aren't quite healthy for us.
          Even better, by observing and being open our water animal totems, we learn the ways of simpler, more positive paths of thought, thus replacing the hidden negative ones.
        </p>
      </div>
      <div class="col-md-6"></div>
    </div>

  <% end %>
</div>

<div class="signup-wrapper animated hidden">
  <div class="modal-close signup" for="modal-1"></div>
  <h1>Sign Up</h1>
  <form action="/signup" method="post" class="form-horizontal">
    <div class="form-group">
      <input type="email" name="user[email]" placeholder="email" class="form-control" >
    </div>
    <div class="form-group">
      <input type="password" name="user[password]" placeholder="password" class="form-control">
    </div>
    <input type="submit" value="signup" class="btn btn-success btn-lg">
  </form>
</div>
